# Razorpay Keys
# 1. Rename this file to exactly `.env`
# 2. Paste your Secret Key below (DO NOT commit this file to GitHub!)

RAZORPAY_KEY_ID=rzp_test_TIZsPNZNU2ZDbQ
RAZORPAY_KEY_SECRET=YOUR_SECRET_KEY_HERE
